.leftadv{
    background: #fff;
    color:#004;
    border-right:1px solid #f0f0f0;
    width: 100%;
    height:auto;
}
.rightadv{
    background: rgba(255,187,168,0.09);
    color:#004;
    border-left:1px solid #f0f0f0;
    width: 100%;
    height:auto;
}
.page-header{
    padding: 5px 0;
    margin: 0 auto;
}
.extrabtn{
    text-align: center;
    border-radius: 50%;
}
@media(min-width: 1200px) {
    .extrabtn {
        margin-left: 30%;
        background: rgba(234,49,125,0.82);
    }
}
#bottomadv, #middleadv, #companytab, #paidadvtab, #servicetitletab, #buyhometab, #renthometab, #ownselltab, #flatselltab, #landselltab,
#landbuytab, #flatbuytab, #flatrenttab, #homerenttab, #sellcartab, #sellbiketab, #otherEducationtab, #management-event-tab,
#live-event-tab, #OtherEventServiceTab, #usedmobiletab, #electronicsothertab, #usedelectronicstab, #furnituretab, #salontab,
#kidstab, #sportstab, #fashiontab, #otherhomenlifetab, #usedhomelifetab{
    display: none;
}
#alert{
    background: rgba(234,40,39,0.82);
    color: #e9e9e9;
    text-transform: capitalize;
    text-align: center;
    font-size: medium;
    font-family: "Arial Black";
}