.dataindex-main{
    height:auto;
    margin-top:10px;
    position: relative;
}
.mainBar-fluid{
    padding:0;
}
.extra{
    background: url(https://us.letgo.com/assets-29/bundles/site/img/intersticial-bg.png);
    background-size: contain;
    background-repeat: repeat-x;
    min-height: 100px;
}
.centered-images{
    text-align: -webkit-center;
    background-size: cover;
}
#CategoryMenu{
    position: relative;
    z-index:10;
}
#mainWindow{
    margin-top: 10px;
    display: none;
}
.functional{
    font-weight: 400;
    text-align: left;
    text-transform: capitalize;
}
.functional:hover{
    border-left:2px solid #eea236;
}
.lg{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    border:thin solid #fff;
    top:46%;
}
.lg:hover{
    background-color: white;
    color:black;
    border:thin solid #000;
}
.carousel-control{
    opacity:1;
}
.padmar
{
    margin: 10px 0;
}
.adjustedForm{
    margin-left:0;
    margin-right: 0;
}
@media (min-width: 768px){
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
        width: auto;
        font-size: 20px;
    }
}