.dataindex-main{
    height:auto;
    margin-top:10px;
    position: relative;
}
.focusg{
    height: 100px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 2% 15px;
    margin: 15px;
}
#CategoryMenu{
    width: 90%;
    margin: 10px 5%;
}
#CategoryMenu2{
    display: none;
    width: 90%;
    margin: 10px 5%;
}
#ooo{
    display: none;
}

.mainBar-fluid{
    padding:0;
}
.extra{
    background-size:cover;
    min-height:400px;
    padding:45px 0 0 0;
    background: url('../media/images/banner.jpg') no-repeat 0 0;
}
.centered-images{
    text-align: -webkit-center;
    background-size: cover;
}
#mainWindow{
    margin-top: 10px;
    display: none;
}
.functional{
    font-weight: 400;
    text-transform: uppercase;
}
.functional:hover{
    border:5px solid #000;
    background: #94ea69;
}
.lg{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    border:thin solid #fff;
    top:46%;
}
.lg:hover{
    background-color: white;
    color:black;
    border:thin solid #000;
}
.carousel-control{
    opacity:1;
}
.adjustedForm{
    margin-left:0;
    margin-right: 0;
}
@media (min-width: 768px){
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        width: auto;
        font-size: 20px;
    }
}
span.price{
    background-color: rgba(89, 194, 175, 0.79);
    color: #FFF;
    display: block;
    font-size: 16px;
    padding: 7px 15px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 0;
    z-index: 2;
    line-height: 1;
    letter-spacing: 2px;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}