html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding-top: 63px;
    display: none;
}
.row
{
    margin-left: 0;
    margin-right: 0;
}
.removeableheadbar{
    background: #fff;
    margin-bottom: 0;
    height:29px;
    padding: 5px 0 4px;
    border-bottom: none;
    font-size: 100%;
}
.removed{
    height: 20px;
    margin: 0;
    padding: 0;
}
.extrapadding{
    -webkit-padding-start: 15px;
}
.extrapadding>li{
    margin-right: 20px;
}
.extrapadding>li>a{
    text-decoration: none;
}
.headbar{
    background: #fff;
    padding: 8px 0;
    border-top: none;
}
.defineminwidth{
    line-height: 30px;
}
.defineminwidth>li{
    border-bottom: 1px solid #f3f3f3;
    padding-left: 15px;
    cursor: pointer;
}
.defineminwidth>li:hover{
    background-color: #f3f3f3;
}
#btnPostAd:hover{
    background-color: #f0ad4e;
    border-color: #eea236;
}
.positionModalbtn{
    cursor: pointer;
    padding: 15px;
}
.positionadbtn{
    padding: 0 15px;
}
@media (min-width: 768px) {
    #mainvalue {
        padding-top: 8px;
        padding-bottom: 18px;
    }
    #btnPostAd{
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: bolder;
    }
}