@media (min-width: 768px) {
    .navbar-form .input-group>.form-control {
        width: 400px;
    }
}
@media (min-width: 1200px){
}
.smalltext{
    font-size: 11px;
    color: #333;
    line-height: 17px;
    margin:auto 0;
    text-align: center;
}

.rgt-pull{
    text-align: right;
}

.pull-lft{
    text-align: left;
}

#vieproducterror{
    text-align: center; text-transform: capitalize; font-weight: 500; font-size: 25px; color: black; background: red;
}